{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Listado de automóviles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% block contenido %}
        <h2>Lista de automóbiles</h2>
        <form method="post" >
            <p>
                {% csrf_token %}
                {{ form.as_p }}
            </p>>
            <button type="submit">Buscar</button>
        </form>
        <br>
    {% if autos %}
        <table>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Cant.Puertas</th>
                <th>Año</th>
                <th>Descripción</th>
                <th>Acciones permitidas</th>
            </tr>
            {% for a in autos %}
            <tr>
                <td>{{a.marca }}</td>
                <td>{{a.modelo }}</td>
                <td>{{ a.puertas }}</td>
                <td>{{ a.anio }}</td>
                <td>{{ a.descripcion }}</td>
                <td>
                        <a href="{% url 'verAuto' pk=a.id %}">ver</a>
                    <a href="{% url 'modificarAuto' pk=a.id %}">Editar</a>
                    <a href="{% url 'eliminarAuto' pk=a.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <!-- Enlaces para el paginador -->
        <div class="contenedor-paginador">
            <span >
                {% if autos.has_previous %}
                    <a href="?page=1">&laquo; primera</a>
                    <a href="?page={{ autos.previous_page_number }}">Anterior</a>
                {% endif %}
                <span ">
                    Pagina {{ autos.number }} de {{ autos.paginator.num_pages }}.
                </span> 
                {% if autos.has_next %}
                    <a href="?page={{ autos.next_page_number }}">siguiente</a>
                    <a href="?page={{ autos.paginator.num_pages }}">Ultimo &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>
            No hay automóviles registrados con el filtro aplicado, pulse el enlace "Agregar nuevo automovil" si desea agregar uno.
        </p>
    {% endif %}
    {% endblock %}
    
</body>
</html>